# Python
__pycache__/
*.pyc
*.pyo
venv/
.env

# Django
db.sqlite3
media/
staticfiles/

# Docker
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Backups
backup_*.sql
questions_backup.json

# Backups
*.backup
*.before-*
backup_files_*.tar.gz
postgres_volume_*.tar.gz
fix_postgres_password.sh
