<div class="row mb-4">
    <div class="col-md-3">
        <div class="card text-center shadow-sm">
            <div class="card-body">
                <h5 class="card-title display-6">{{ stats.groups_count }}</h5>
                <p class="card-text text-muted">دوره</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center shadow-sm">
            <div class="card-body">
                <h5 class="card-title display-6">{{ stats.total_questions }}</h5>
                <p class="card-text text-muted">کل سوالات</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center shadow-sm">
            <div class="card-body">
                <h5 class="card-title display-6 text-success">{{ stats.active_questions }}</h5>
                <p class="card-text text-muted">تایید شده</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center shadow-sm">
            <div class="card-body">
                <h5 class="card-title display-6 text-warning">{{ stats.inactive_questions }}</h5>
                <p class="card-text text-muted">در انتظار</p>
            </div>
        </div>
    </div>
</div>
