{% extends "base.html" %}

{% block content %}

<div class="container py-4">

    <h1>حذف مسیر آموزشی</h1>

    <p>
        آیا مطمئن هستید که می‌خواهید مسیر
        <strong>{{ learning_path.name }}</strong>
        را حذف کنید؟
    </p>

    <p>
        این عملیات قابل بازگشت نیست.
    </p>

    <form method="post">

        {% csrf_token %}

        <button type="submit">
            حذف مسیر
        </button>

        <a href="{% url 'accounts:admin-learning-paths' %}">
            انصراف
        </a>

    </form>

</div>

{% endblock %}