{% extends "base.html" %}

{% block title %}
    {% if learning_path %}
        ویرایش مسیر آموزشی | {{ learning_path.name }}
    {% else %}
        ایجاد مسیر آموزشی
    {% endif %}
{% endblock %}

{% block content %}

<div class="container py-4">

    {% if learning_path %}

        <h1>ویرایش مسیر آموزشی</h1>

        <p>
            اطلاعات مسیر آموزشی
            <strong>{{ learning_path.name }}</strong>
            را ویرایش کنید.
        </p>

    {% else %}

        <h1>ایجاد مسیر آموزشی</h1>

        <p>
            اطلاعات مسیر آموزشی جدید را وارد کنید.
        </p>

    {% endif %}


    <form method="post">

        {% csrf_token %}

        {{ form.non_field_errors }}


        <div>
            {{ form.name.label_tag }}
            {{ form.name }}
            {{ form.name.errors }}
        </div>


        <div>
            {{ form.slug.label_tag }}
            {{ form.slug }}
            {{ form.slug.errors }}
        </div>


        <div>
            {{ form.description.label_tag }}
            {{ form.description }}
            {{ form.description.errors }}
        </div>


        <div>
            {{ form.icon.label_tag }}
            {{ form.icon }}
            {{ form.icon.errors }}
        </div>


        <div>
            {{ form.color.label_tag }}
            {{ form.color }}
            {{ form.color.errors }}
        </div>


        <div>
            {{ form.prerequisites.label_tag }}
            {{ form.prerequisites }}
            {{ form.prerequisites.errors }}
        </div>


        <div>
            {{ form.order.label_tag }}
            {{ form.order }}
            {{ form.order.errors }}
        </div>


        <div>
            {{ form.is_active }}
            {{ form.is_active.label_tag }}
            {{ form.is_active.errors }}
        </div>


        <div>

            <button type="submit">

                {% if learning_path %}
                    ذخیره تغییرات
                {% else %}
                    ذخیره مسیر
                {% endif %}

            </button>


            {% if learning_path %}

                <a
                    href="{% url 'accounts:admin-learning-path-detail' learning_path.pk %}"
                >
                    انصراف
                </a>

            {% else %}

                <a
                    href="{% url 'accounts:admin-learning-paths' %}"
                >
                    انصراف
                </a>

            {% endif %}

        </div>

    </form>

</div>

{% endblock %}
