<section>

    <h2>آمار کلی</h2>

    <div>

        <div>
            <strong>{{ stats.students }}</strong>
            <span>دانش‌آموز فعال</span>
        </div>

        <div>
            <strong>{{ stats.courses }}</strong>
            <span>دوره فعال</span>
        </div>

        <div>
            <strong>{{ stats.assessments }}</strong>
            <span>آزمون فعال</span>
        </div>

        <div>
            <strong>{{ stats.questions }}</strong>
            <span>سؤال فعال</span>
        </div>

    </div>

</section>