<div class="row g-3 mb-4">

    <div class="col-md-3">

        <a
            href="{% url 'assessments:attempt-history' %}"
            class="text-decoration-none text-dark"
        >

            <div class="card shadow-sm border-0 h-100">

                <div class="card-body text-center">

                    <div class="fs-1 text-primary">
                    📝
                    </div>

                    <h6 class="text-muted">
                     آزمون‌های انجام‌شده
                    </h6>

                    <h3>
                        {{ stats.total_attempts }}
                    </h3>

                </div>

            </div>

        </a>

    </div>


    <div class="col-md-3">

        <div class="card shadow-sm border-0 h-100">

            <div class="card-body text-center">

                <div class="fs-1 text-success">
                    ⭐
                </div>

                <h6 class="text-muted">
                    میانگین نمره
                </h6>

                <h3>
                    {{ stats.average_score }}%
                </h3>

            </div>

        </div>

    </div>



    <div class="col-md-3">

        <div class="card shadow-sm border-0 h-100">

            <div class="card-body text-center">

                <div class="fs-1 text-warning">
                    🏆
                </div>

                <h6 class="text-muted">
                    بهترین نتیجه
                </h6>

                <h3>
                    {{ stats.best_score }}%
                </h3>

            </div>

        </div>

    </div>



    <div class="col-md-3">

        <div class="card shadow-sm border-0 h-100">

            <div class="card-body text-center">

                <div class="fs-1 text-danger">
                    📅
                </div>

                <h6 class="text-muted">
                    آزمون امروز
                </h6>

                <h3>
                    {{ stats.today_attempts }}
                </h3>

            </div>

        </div>

    </div>


</div>